* {
  margin: 0;
  padding: 0;
  border: box-sizing;
}

.boxContainer {
  background-color: #EDF1F7;
  width: 100%;
  height: 100vh;
}

.box {
  background-color: #fff;
  width: 75%;
  height: 100%;
  border-radius: 5px;
}

/* image add styles */
.imgAdd {
  width: 270px;
  height: 140px;
  border: 1px dashed #d0cdcdd7;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

/* right image styles */
.test-cls {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.grid_row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.gallery__item {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery__item_img {
  width: 100%;
  height: 100%;
  border: 1px solid #d0cdcdd7;
  border-radius: 5px;
  object-fit: contain;
  transition: all 0.4s ease-in-out;
}

.imgOverlay {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #000;
  opacity: 0;
  cursor: pointer;
}

.gallery__item:hover .imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-radius: 5px;
  justify-content: start;
  align-items: start;
  opacity: .6;
}


/* checkd slected items */
#checkedValue {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #afaaaa3d;
  opacity: 0;
  cursor: pointer;
}

.gallery__item #checkedValue {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  opacity: .6;
}

.btn_delete {
  border: none !important;
  font-weight: bold !important;
  background-color: #fff !important;
  color: #ff0000 !important;
}

@media (max-width: 768px) {
  .boxContainer{
    height: 100%;
  }
  .grid_row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

}
@media (max-width: 368px) {
  .boxContainer{
    height: 100%;
  }
  .box{
    width: 100%;
  }
  .grid_row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

}